:root {
  --color-primary: #0085ff;
  --color-secondary: #202646;

  --color-grey-light--primary: #f0f0f5;
  --color-grey-light--secondary: #757575;
  --color-grey-dark: #424242;

  --color-white: #fff;
}
